<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Version" value="SQL2012"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString1" connectionString="Data Source=??;Initial Catalog=hankuan;Persist Security Info=True;User ID=??;Password=??"
      providerName="System.Data.SqlClient" />
    <add name="Learning_CSharpe.Properties.Settings.masterConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=master;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>